<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasil Klasifikasi</title>
</head>
<body>
    <h1>Hasil Klasifikasi</h1>
    <p>usia = {{ data['a'] }}</p>
    <p>departemen = {{ data['b'] }}</p>
    <p>lokasi = {{ data['c'] }}</p>
    <p>pendidikan = {{ data['d'] }}</p>
    <p>job level = {{ data['e'] }}</p>
    <p>rating = {{ data['f'] }}</p>
    <p>request onsite = {{ data['g'] }}</p>
    <p>awards = {{ data['h'] }}</p>
    <p>certifications = {{ data['i'] }}</p>
    <p>hasil klasifikasi (1=Satisfied, 0=Not Satisfied)={{prediksi}}</p>
    <p>rekomendasi kepada perusahaan, dengan tingginya kepuasan staff, maka ada kemungkinan bahwa staff akan bekerja dengan lebih giat dan dapat membantu
        <br>
        perusahaan mencapai tujuannya.
        faktor yang mempengaruhi kepuasan staff tidak hanya ada pada gaji saja, mengingat ada yang tidak puas bekerja walaupun bergaji tinggi
    </p>
</body>
</html>