<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict</title>
</head>
<form method="POST" action='/klasifikasi'>
    <h1>klasifikasi staff</h1>
    usia:<input type='number' name='a'/>
    <br>
    departemen (HR=0, Tech=1, Sales=2,Purchasing=3,Marketing=4):<input type='number' name='b'/>
    <br>
    lokasi (suburban=0, kota=1):<input type='number' name='c'/>
    <br>
    pendidikan (Undergraduate=0, Postgraduate=1):<input type='number' name='d'/>
    <br>
    Job Level (1-5):<input type='number' name='e'/>
    <br> 
    Rating (1-5):<input type='number' name='f'/>
    <br> 
    Onsite Request (No = 0, Yes=1):<input type='number' name='g'/>
    <br>
    Awards (0-9):<input type='number' name='h'/>
    <br>
    Certifications (No=0, Yes=1):<input type='number' name='i'/>
    <br>
    <input type='submit' value='Classify'/></form>
        </select>
      </form>
</body>
</html>